*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background-color:#fcfafb;
}
/*style the head*/
.header{
	background-color:#FF9999;;
	width:100%;
	height: 105px;
	margin-bottom: 100px;
	border: 1px solid transparent;
	border-radius: 10px;
}
.header h1{
 margin-top: 10px;
 padding: 10px ;
 text-align: center;
 font-family: 'Libre Baskerville', serif;

}
.menu ul{
	list-style-type: none;

}
.menu   li{
		display:inline-block;
		margin:5px 30px ;

}
 .menu li a{
	
	text-decoration: none;
	color:  #17202a;
	font-size: 18px;
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	transition: 0.4s;
	text-transform: uppercase;
}
.menu li:hover a{
	
	color:#ae023e;
	font-size: 23px;
}
/* style the description article*/
#description{
	border: 1px solid transparent;
 	border-radius: 20px;
 	background-color:#f0f0f5;
 	font-size:30px;
 	font-family: tahoma;
 	height: 270px;
 	width: 700px;
 	padding:10px 10px;
 	margin: 50px auto;
 	text-align: justify;
 	box-shadow: 10px 10px 5px #888888;
 }
 q, sub{
 	font-size: 20px;
 	font-style:italic;
 }
 hr{
 	width: 80%;
 	margin: auto;
 	color:#FF9999;
 }
/*style article art*/
.art{
	width: 60%;
	height: 200px;
	background-color: #f0f0f5;
	margin-left:30px;
	margin-bottom: 30px;
	margin-top: 50px;
	padding-left: 30px;
	font-family:'Libre+Baskerville' serif;

	/*box-shadow: 3px 3px 2px #888888;*/
}
.art h2{
	text-transform: uppercase;
	text-decoration: underline;
	padding-bottom: 20px;
	padding-top: 20px;
}
.art p, li{
	font-size: 25px;
	font-style: italic;
}
/*style the footer*/
footer{
	margin-top: 50px;

}
footer p{
	margin:30px auto;
	text-align: center;

}
footer p span{
	color:#ae023e;
	font-size: 15px;
	font-weight: bold;

}

